.page-header {
    background: linear-gradient(0deg, rgba(44, 44, 44, 0.2), rgba(255, 255, 255, 0.4)) !important;
}

.input-group, .form-group, .form-control {
    margin-bottom: 10px;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

.input-group .form-control, .btn-block {
    color: white;
    font-size: 13px;
    font-weight: bold;
}

.input-group .form-control::placeholder, .btn-block {
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px;
}

.input-group-text i {
    font-size: 16px;
    color: black;
}

.input-group-prepend {
    margin-right: 1px;
}
