<div class="page-header">
    <div class="page-header-image" style="background-image: url('/assets/img/bg117.jpg'); filter: blur(0.2rem);"></div>
    <div class="container">
        <div class="col-md-4 content-center">
            <div class="card card-login card-plain">
                <form class="form" (ngSubmit)="onSignup()">
                    <div class="header header-primary text-center">
                        <div class="logo-container">
                            <!-- <img src="assets/img/now-logo.png" alt=""> -->
                        </div>
                    </div>
                    <div class="content">
                        <div class="input-group form-group-no-border input-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="now-ui-icons users_circle-08"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Username..." [(ngModel)]="user.username" name="username" required>
                        </div>
                        <div class="input-group form-group-no-border input-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="now-ui-icons ui-1_email-85"></i></span>
                            </div>
                            <input type="email" class="form-control" placeholder="Email..." [(ngModel)]="user.email" name="email" required>
                        </div>
                        <div class="input-group form-group-no-border input-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
                            </div>
                            <input type="password" class="form-control" placeholder="Password..." [(ngModel)]="user.password" name="password" required>
                        </div>
                        <div class="input-group form-group-no-border input-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="now-ui-icons business_badge"></i></span>
                            </div>
                            <select class="form-control" [(ngModel)]="user.role" name="role" required>
                                <!--<option [value]="RoleType.Admin">Admin</option> -->
                                <option [value]="RoleType.Client">Client</option>
                            </select>
                        </div>
                    </div>
                    <div class="footer text-center">
                        <button type="submit" class="btn btn-primary btn-round btn-lg btn-block">Sign up</button>
                    </div>
                    <div class="pull-left">
                        <h6>
                            <a routerLink="/login" class="link">Already have an account? Sign in</a>
                        </h6>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
