<div class="page-header" >
    <div class="page-header-image" style="background-image: url('/assets/img/bg117.jpg'); filter: blur(0.2rem);" ></div>
    <div class="container">
        <div style="padding-top: 18px; ">
            <button class="button-82-pushable " (click)="logout()" style="float: right; left: 110px" role="button">
            <span class="button-82-shadow"></span>
            <span class="button-82-edge"></span>
            <span class="button-82-front text">
              Logout
            </span>
          </button>
        </div>
        <div class="col-md-4 content-center">
            <div class="card card-login card-plain">
                <form class="form" method="" action="">
                    <div class="header header-primary text-center">
                        <div class="logo-container">
                            <!-- <img src="assets/img/now-logo.png"  alt=""> -->
                        </div> 
                    </div>
                    <div class="content">
                        <div class="label-container">
                            <label for="example" class="custom-label">Database type : </label>
                        </div>
                        <div class="input-group form-group-no-border input-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="now-ui-icons ui-1_settings-gear-63"></i></span>
                            </div>
                            <select class="form-control" [(ngModel)]="selectedDatabase" name="database">
                                <option value=""  selected>Choose your database type</option>
                                <option *ngFor="let db of databaseTypes" [value]="db">{{ db }}</option>
                            </select>
                        </div>    
                        <div class="label-container">
                            <label for="example" class="custom-label">Deployment mode : </label>
                        </div>           
                        <div class="input-group form-group-no-border input-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="now-ui-icons ui-1_settings-gear-63"></i></span>
                            </div>
                            <select class="form-control" [(ngModel)]="selectedDeployment" name="deployment">
                                <option value=""  selected>Choose your deployment mode</option>
                                <option *ngFor="let dp of deploymentTypes" [value]="dp">{{ dp }}</option>
                            </select>
                        </div>
                        <div class="label-container">
                            <label for="example" class="custom-label">Authentication method: </label>
                        </div>
                        <div class="input-group form-group-no-border input-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="now-ui-icons ui-1_settings-gear-63"></i></span> </div>
                            <select class="form-control" [(ngModel)]="selectedAuthentication" name="authentication">
                                <option value=""  selected>Choose your authentication method</option>
                                <option *ngFor="let auth of authenticationTypes" [value]="auth">{{ auth }}</option>
                            </select>
                        </div>
                        <div class="label-container" >
                            <label for="example" class="custom-label">Messaging middlemware : </label>
                        </div>
                        <div class="input-group form-group-no-border input-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="now-ui-icons ui-1_settings-gear-63"></i></span>
                            </div>
                            <select class="form-control" [(ngModel)]="selectedMiddleware" name="middleware">
                                <option value=""  selected>Choose your messaging middleware</option>
                                <option *ngFor="let mid of middlewareTypes" [value]="mid">{{mid}}</option>
                            </select>
                        </div>
                        <div class="label-container">
                            <label for="example" class="custom-label">Monitoring : </label>
                        </div>
                        <div class="input-group form-group-no-border input-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="now-ui-icons ui-1_settings-gear-63"></i></span> </div>
                            <select class="form-control" [(ngModel)]="selectedMonitoring" name="monitoring">
                                <option value=""  selected>Choose your monitoring tool</option>
                                <option *ngFor="let mon of monitoringTypes" [value]="mon">{{ mon }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="footer text-center">
                        <a class="btn btn-primary btn-round btn-lg btn-block" (click)="confirmchoice()">Confirm</a>
                    </div>
                    <!--<div class="pull-left">
                        <h6>
                            <a [routerLink]="['/signup']" class="link">Create Account</a>
                        </h6>
                    </div> -->
                    <!--<div class="pull-right">
                        <h6>
                            <a href="#pablo" class="link">Forget password ?</a>
                        </h6>
                    </div> -->
                </form>
            </div>
        </div>
    </div>
    <!--
    <footer class="footer">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com">
                            Creative Tim
                        </a>
                    </li>
                    <li>
                        <a href="https://www.creative-tim.com/about-us">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                            MIT License
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </footer> -->
</div>
